In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

In [5]:
A = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Bike Rental Project/hour.csv")

In [6]:
A

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,17375,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,17376,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [7]:
B = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Bike Rental Project/hour.csv")

In [10]:
B = B.iloc[:1000,:]

In [11]:
B

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,2011-02-14,1,0,2,3,0,1,1,1,0.34,0.3182,0.46,0.2239,1,1,2
996,997,2011-02-14,1,0,2,4,0,1,1,1,0.32,0.3030,0.53,0.2836,0,2,2
997,998,2011-02-14,1,0,2,5,0,1,1,1,0.32,0.3030,0.53,0.2836,0,3,3
998,999,2011-02-14,1,0,2,6,0,1,1,1,0.34,0.3030,0.46,0.2985,1,25,26
999,1000,2011-02-14,1,0,2,7,0,1,1,1,0.34,0.3030,0.46,0.2985,2,96,98

In [12]:
B

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,2011-02-14,1,0,2,3,0,1,1,1,0.34,0.3182,0.46,0.2239,1,1,2
996,997,2011-02-14,1,0,2,4,0,1,1,1,0.32,0.3030,0.53,0.2836,0,2,2
997,998,2011-02-14,1,0,2,5,0,1,1,1,0.32,0.3030,0.53,0.2836,0,3,3
998,999,2011-02-14,1,0,2,6,0,1,1,1,0.34,0.3030,0.46,0.2985,1,25,26
999,1000,2011-02-14,1,0,2,7,0,1,1,1,0.34,0.3030,0.46,0.2985,2,96,98

In [13]:
A.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

In [14]:
B.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

## Checking Whether two dataset are having the same variables

In [23]:
C = B.columns.intersection(A.columns)

In [27]:
if len(A.columns)==len(B.columns.intersection(A.columns)):
  print("The Datasets have Same Variables")
else:
  print("The Datasets have different Variables")

The Datasets have Same Variables